<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css"></link>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
</head>